<h1>All Reservations</h1>

<ul>
<% @reservations.each do |reservation| %>
	<li>
		<%= reservation.user.first_name + ' ' + reservation.user.last_name %> 
		made a reservation at <%= reservation.restaurant.name %> 
		with a party size of <%= reservation.party_size %> 
		at the date/time of <%= reservation.res_time %>, 
		and made the note: <%= reservation.note %>.
	</li>
<% end %>
</ul>

<h1>My Reservations</h1>

<ul>
<% @my_reservations.each do |reservation| %>
	<li>
		<%= reservation.user.first_name + ' ' + reservation.user.last_name + ' ' + reservation.user.id.to_s %> 
		made a reservation at <%= reservation.restaurant.name %> 
		with a party size of <%= reservation.party_size %> 
		at the date/time of <%= reservation.res_time %>, 
		and made the note: <%= reservation.note %>.
	</li>
<% end %>
</ul>