<h1><%= @restaurant.name %></h1>

<p><%= @restaurant.description %></p>

<% if current_user %>
	<h3>Create a new reservation</h3>

	<%= form_for [@restaurant, @reservation] do |f| %>
		<% if @reservation.errors.any? %>
			<div id="error_explanation">
				<h5><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being created.</h5>
				<ul>
					<% @reservation.errors.full_messages.each do |msg| %>
						<li><%= msg %></li>
					<% end %>
				</ul>
			</div>
		<% end %>

		<div class="field">
			<%= f.label :party_size %>
			<%= f.number_field :party_size %>
		</div>
		<div class="field">
			<%= f.label :res_time %>
			<%= f.datetime_field :res_time %>
		</div>
		<div class="field">
			<%= f.label :note %>
			<%= f.text_area :note %>
		</div>
		<div class="actions">
			<%= f.submit %>
		</div>
	<% end %>
<% else %>
	<p>You must be logged in to create a reservation!</p>
<% end %>